

  <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <h3>Edit User</h3>
            <form class="m-t" role="form" action="" [formGroup]="userEditForm" (ngSubmit)="onSubmitEdit()">
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="name" value="{{ user.name }}" required="">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" formControlName="email" value="{{ user.email }}" required="">

                </div>
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="type" value="{{ user.type }}" required="">

                </div>
                <button type="submit"  class="btn btn-primary block full-width m-b">Update</button>

            </form>
        </div>
    </div>
